
<link rel="stylesheet" href="~/css/AboutUs.css" />
<div class="text-center">
<h1 class="display-4">Sobre Nós</h1>
</div>

<div class="text-center style">
        <p>
        A <i>FeelItaly</i> tem como objetivo providenciar a melhor ajuda possível na hora de preparar uma refeição.
        Tanto para quem não tem experiência no mundo da cozinha, como para quem já é um "expert", 
        a <i>FellItaly</i> proporciona um serviço de verdadeiro Chef aos seus utilizadores.
        </p>
</div>