
<link rel="stylesheet" href="~/css/AboutUs.css" />
<div class="text-center">
    <h1 class="display-4">Sobre Nós</h1>
</div>

<div class="text-center style">
    <p>
        A <i>FeelItaly</i> tem como objetivo providenciar a melhor ajuda possível na hora de preparar uma refeição.
        Tanto para quem não tem experiência no mundo da cozinha, como para quem já é um "expert",
        a <i>FeelItaly</i> proporciona um serviço de verdadeiro Chef aos seus utilizadores.
    </p>
</div>

<br>
<br>

<h3 class="text-center">Equipa de Desenvolvimento</h3>

<p>
    <img src="~/images/diogo.jpg" style="float:left;width:210px;height:210px;background: #fff;overflow: hidden;" />
    <br><br>Diogo Filipe Ribeiro Ferreira Braga<br>Guimarães<br>21 anos<br><a href="https://github.com/diogofbraga">Github: diogofbraga</a>
</p>
<br><br><br>
<p>
    <img src="~/images/joao.jpg" style="float:left;width:210px;height:210px;background: #fff;overflow: hidden;" />
    <br><br>João Pedro Oliveira da Silva<br>Guimarães<br>20 anos<br><a href="https://github.com/joaop21">Github: joaop21</a>
</p>
<br><br><br>
<p>
    <img src="~/images/ricardoc.jpg" style="float:left;width:210px;height:210px;background: #fff;overflow: hidden;" />
    <br><br>Ricardo Filipe Sousa Caçador<br>Vila Praia de Âncora<br>20 anos<br><a href="https://github.com/ricardofsc10">Github: ricardofsc10</a>
</p>
<br><br><br>
<p>
    <img src="~/images/ricardof.png" style="float:left;width:210px;height:210px;background: #fff;overflow: hidden;" />
    <br><br>Ricardo Jorge Silva Ferreira<br>Trofa<br>20 anos<br><a href="https://github.com/RicardoJSFerreira">Github: RicardoJSFerreira</a>
</p>
<br><br><br>
<p>
    <img src="~/images/ricardom.png" style="float:left;width:210px;height:210px;background: #fff;overflow: hidden;" />
    <br><br>Ricardo Milhazes Veloso<br>Braga<br>20 anos<br><a href="https://github.com/ricardomilhazes">Github: ricardomilhazes</a>
</p>