<script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?key=AnK6LYuQ2CQ5Hp_eIArjo9D0vcdknLL0X__W776ViXagGC9pWnd7IOVNmg0CY-_y'></script>
<script src="~/js/Maps.js"></script>

<div class="text-center">
    <h1 class="display-4">Despensa</h1>
</div>

<div class="text-center">
    <p>
        Faltam-lhe ingredientes para preparar as receitas que mais gosta?
    </p>

    <p>
        Use já o nosso sistema de localização para encontrar as lojas mais perto de si.
    </p>

    <div id='printoutPanel'></div>

    <div id='myMap' style='width: 75em; height: 40em;'></div>

</div>