<div class="text-center">
    <h1 class="display-4">FeelItaly</h1>
    <p><a asp-controller="UtilizadorView" asp-action="getUtilizadores">Ver Utilizadores</a></p>
    <p><a asp-controller="ReceitaView" asp-action="getReceitas">Ver Receitas</a></p>
    <p> <a asp-controller="UtilizadorView" asp-action="RegisterUtilizador">Registo</a></p>
    <p><a asp-controller="UtilizadorView" asp-action="LoginUtilizador">Login</a></p>
</div>