<div class="text-center">
    <h1 class="display-3">FeelItaly</h1>
    <p><a asp-controller="UtilizadorView" asp-action="GetUtilizadores">Ver Utilizadores</a></p>
    <img src="~/images/carbonara.jpg">
</div>