@model FeelItaly.Models.Receita[]

<link rel="stylesheet" href="~/css/Index.css" />

<div class="text-center">
    <h1 class="display-3"><img src="~/images/logoFundoVazio.jpg" height="100" width="250" /></h1>
    <h5> Receitas Mais Procuradas</h5>
</div>

<div class="container">
    <a class="box text-dark" asp-controller="ReceitaPassoView" asp-action="SelectReceita" asp-route-id="@Model[0].idReceita">
            <img src="~/images/Carbonara.jpg">
            <span>Carbonara</span>
    </a>
    <div class="box">
        <img src="~/images/Pizza Marguerita.jpg">
        <span>Pizza Marguerita</span>
    </div>
    <div class="box">
        <img src="~/images/Tagliatelle.jpg">
        <span>Tagliatelle</span>
    </div>
    <div class="box">
        <img src="~/images/LasanhaLegumes.jpg">
        <span>Lasanha</span>
    </div>
</div>

<div class="text-center">
    <p><a asp-controller="UtilizadorView" asp-action="GetUtilizadores">Ver Utilizadores</a></p>
</div>
