<link rel="stylesheet" href="~/css/Index.css" />

<div class="text-center">
    <h1 class="display-3">FeelItaly</h1>
    <h5> Receitas Mais Procuradas</h5>
</div>

<div class="container">
    <div class="box">
        <img src="~/images/Carbonara.jpg">
        <span>Carbonara</span>
    </div>
    <div class="box">
        <img src="~/images/Margherita.jpg">
        <span>Pizza Margherita</span>
    </div>
    <div class="box">
        <img src="~/images/Tagliatelle.jpg">
        <span>Tagliatelle</span>
    </div>
    <div class="box">
        <img src="~/images/LasanhaLegumes.jpg">
        <span>Lasanha</span>
    </div>
</div>

<div class="text-center">
    <p><a asp-controller="UtilizadorView" asp-action="GetUtilizadores">Ver Utilizadores</a></p>
</div>
