@model IEnumerable<FeelItaly.Models.Utilizador>

@{
    ViewData["Title"] = "Utilizadores";
}

<h1>Utilizadores</h1>


<table>
    <tr>
        <td>Nome</td>
    </tr>
    @foreach (var utilizador in Model)
    {
        <tr>
            <td>@utilizador.nome</td>
        </tr>
    }
</table>