@model FeelItaly.Models.Receita[]

<link rel="stylesheet" href="~/css/GetReceitas.css" />


<h1 class="display-4">Receitas</h1>

<div class="hover01 column">
    @{  for (var i = 0; i < 3; i++)
        {
            var rec = Model[i];
            string path = "~/images/" + rec.nome + ".jpg";

            <div>
                <a class="nav-link text-dark" asp-controller="ReceitaPassoView" asp-action="SelectReceita" asp-route-id="@rec.idReceita">
                    <figure><img src="@Url.Content(path)" /></figure>
                    <span>@rec.nome</span>
                </a>
            </div>
        }
    }
</div>
