@model IEnumerable<FeelItaly.Models.Receita>

<link rel="stylesheet" href="~/css/GetReceitas.css" />


<h1>Receitas</h1>

@foreach (var receita in Model)
{
    <div class="polaroid">
        <a class="nav-link text-dark" asp-controller="ReceitaPassoView" asp-action="SelectReceita" asp-route-id="@receita.idReceita">
            <img src="~/images/Carbonara.jpg" alt="Carbonara">
        </a>
        <div class="container">
            <p><b>Carbonara</b></p>
        </div>
    </div>
    //@receita.nome
    //<a class="nav-link text-dark" asp-controller="ReceitaPassoView" asp-action="SelectReceita" asp-route-id="@receita.idReceita">
    //    <img src="~/images/Carbonara.jpg" alt="Carbonara" style="width:332px;height:200px;border:0;">
    //</a>
}
