<link rel="stylesheet" href="~/css/RatingReceita.css" />

<h1>Avaliação</h1>

<form asp-controller="Home" asp-action="Index">
    <div class="form-group center">
        <input type="submit" value="Menu" class="btn btn-default btn-success" />
    </div>
</form>