@model FeelItaly.Models.Receita

<link rel="stylesheet" href="~/css/RatingReceita.css" />

<h1>Avaliação</h1>

<p class="center">(ESTRELAS)</p>

<script>
function getComment() {
        var x = document.getElementById("comment").value;
}
</script>

<form asp-controller="ReceitaPassoView" asp-action="ComentSaveReceita" asp-route-idreceita="@Model.idReceita" asp-route-comment=x >
    <div class="center">
        <h5>Comentários</h5>

        <textarea id="comment" rows="4" cols="30" form="usrform">Insira aqui o seu comentário ...</textarea>

        <input type="submit" onclick="getComment()" value="Submeter" class="btn btn-default btn-primary btn-sm">
    </div>
</form>

<form asp-controller="Home" asp-action="Index">
    <div class="form-group center">
        <input type="submit" value="Menu" class="btn btn-default btn-success btn-lg" />
    </div>
</form>