@model FeelItaly.Models.Receita

<link rel="stylesheet" href="~/css/RatingReceita.css" />

<h1>Avaliação</h1>

<p class="center">(ESTRELAS)</p>


<form asp-controller="ReceitaPassoView" asp-action="RatingReceita" asp-route-idreceita="@Model.idReceita">

    <div class="form-group">
        <label asp-for="avaliacao" class="control-label">Inserir Avaliação (0 a 5):</label>
        <input asp-for="avaliacao" class="form-control" />
    </div>

    <div class="form-group center">
        <input type="submit" value="Submeter" class="btn btn-default btn-success" />
    </div>
</form>

<form asp-controller="ReceitaPassoView" asp-action="CommentReceita" asp-route-idreceita="@Model.idReceita">

    <div class="form-group center">
        <input type="submit" value="Comentar" class="btn btn-default btn-success" />
    </div>
</form>

<form asp-controller="Home" asp-action="Index">
    <div class="form-group center">
        <input type="submit" value="Menu" class="btn btn-default btn-success btn-lg" />
    </div>
</form>