<link rel="stylesheet" href="~/css/RatingReceita.css" />

<h1>Avaliação</h1>

<p class="center">(ESTRELAS)</p>

<form action="/html/tags/html_form_tag_action.cfm" method="post" class="center">
    <div>
    <h5>Comentários</h5>
    <textarea rows="4" cols="30" name="comment" form="usrform">Insira aqui o seu comentário ...</textarea>
    </div>
    <input type="submit" value="Submeter" class="btn btn-default btn-primary btn-sm">
</form>

<form asp-controller="Home" asp-action="Index">
    <div class="form-group center">
        <input type="submit" value="Menu" class="btn btn-default btn-success btn-lg" />
    </div>
</form>